.login-textbox {
  max-width: 14em;
  margin-left: 1em;
}

.login-submit-button {
  margin: 1em;
  background-color: $mainBlue;
  border: none;
  font-weight: bold;
  color: white;
  padding: .75em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  &:hover, &:focus {
    color: white;
    background-color: $mainBlue;
    outline: none;
  }
}

.login-form-container {
  max-width: 20em;
  padding: 0 .5em;
}