.cc-nav-menu {
  background-color: lighten($mainBlue, 10%);
}

.navbar-nav {
  li {
    float: none;
    &:hover {
      background-color: $mainBlue;
    }
  }
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-weight: bold;
  white-space: nowrap;
  &:hover, &:focus {
    color: white;
  }
}

.navbar-default .navbar-nav>.active>a {
  color: white;
  font-weight: bold;
  background-color: $mainBlue;
  &:focus, &:hover {
    color: white;
    font-weight: bold;
    background-color: $mainBlue;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-toggle {
  float: left;
  margin-right: 0em;
  margin-left: .5em;
  background-color: $mainBlue;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: $mainBlue;
}